<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
	<body th:fragment="pageFragment">
		<div class="container text-center">			
			<div class="content-404" style="margin-bottom:30px;">
				<h1><b>404 Not Found</b></h1>
				<h2 style="margin-top: 0px;"><b>OPPS!</b> We Couldn't Find this Page</h2>
				<p>Uh... So it looks like you brock something. The page you are looking for has up and Vanished.</p>
				<h2><a href="/">Bring me back Home</a></h2>
			</div>
		</div>
	</body>
</html>