<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
	<body th:fragment="pageFragment">	
		<section ng-controller="CartController">
			<section id="cart_items">		
				<div class="container">	
					<div class="table-responsive cart_info">
						<table class="table table-condensed">
							<thead>
								<tr class="cart_menu">
									<td class="image">Item</td>
									<td class="description"></td>
									<td class="price">Price</td>
									<td class="quantity">Quantity</td>
									<td class="total">Total</td>
									<td></td>
								</tr>
							</thead>
							<tbody>								
								<tr>
									<td colspan="6">
										<div ng-if="data.length == 0" class="alert alert-danger">
											Anda tidak memiliki Barang yang ingin di beli, klik <a href="/">Disini </a>untuk belanja
										</div>								
									</td>
								</tr>
								<tr ng-repeat="dataDetail in data">							
									<td class="cart_product">
										<a href="">
											<img 
											ng-if="dataDetail.product.images.length > 0"
											style="width:110px;height:110px;"
											src="/image/{{ dataDetail.product.images[0].image }}" alt="" 										
											/>
										</a>
									</td>
									<td class="cart_description">
										<h4><a href="/product/productDetail/{{ dataDetail.product.id }}">
											{{ dataDetail.product.name }}
										</a></h4>
										<p>
											Kode Barang : {{ dataDetail.product.code }}
										</p>
									</td>
									<td class="cart_price">
										<p>
											Rp. {{ dataDetail.product.price }}
										</p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<input disabled="" ng-value="dataDetail.qty" class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2" />
										</div>
									</td>
									<td class="cart_total">
										<p class="cart_total_price">
											Rp. {{ dataDetail.total  }}
										</p>
									</td>
									<td class="cart_delete">
										<a class="cart_quantity_delete" ng-click="remove(dataDetail)" href=""><i class="fa fa-times"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<section id="do_action" ng-if="data.length != 0">
				<div class="container">
					<div class="row">					
						<div class="col-sm-12">
							<div class="total_area">
								<ul>
									<li>Total <span>Rp. {{ total }}</span></li>								
								</ul>
									<a class="btn btn-default update" href="/user/cart/checkout">Check out</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</body>
</html>