<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
</head>
	<body th:fragment="pageFragment">	
	<section ng-controller="OrderHistoryController">
			<section id="cart_items">		
				<div class="container">	
					<div class="table-responsive cart_info">
						<table class="table table-condensed">
							<thead>
								<tr class="cart_menu">
									<td class="image">Item</td>
									<td class="description">Tanggal Pemesanan</td>
									<td class="quantity">Status</td>
									<td class="price">Total Harga</td>
								</tr>
							</thead>
							<tbody class="text-center">									
								<tr ng-repeat="detail in listData">
									<td>
										<table class="table table-bordered">
											<tr ng-repeat="detailItem in detail.orderItems">
												<td>
													{{ detailItem.productName }}
												</td>
												<td>
													{{ detailItem.qty }} pcs
												</td>												
											</tr>
										</table>
									</td>
									<td>
										{{ detail.orderCreated }}
									</td>
									<td>
										{{ detail.statusId }}
									</td>
									<td>
										Rp. {{ detail.total }}
									</td>
								</tr>								
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</section>
	</body>
</html>