<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="pageFragment">
	<section th:include="/user/resource/fragment/slider::sliderFragment"></section>
	<div class="container" ng-controller="ProductController">
		<div th:include="/user/resource/fragment/sidebar::sideBarFragment">
		</div>
		<div class="col-sm-9 padding-right">
			<div class="features_items">
				<!--features_items-->
				<h2 class="title text-center">List Produk</h2>
				<div class="col-sm-12" style="margin-bottom: 10px;">
					<div class="search_box pull-right">
						<input type="text" placeholder="Search" ng-model="nameSearch" />
					</div>
				</div>

				<product-detail ng-repeat="detailBarang in listBarang"
					detail="detailBarang"> </product-detail>
			</div>
			<div class="col-md-12" style="margin-bottom: 10px;">
				<button class="col-md-12 btn btn-default btn-flat">Show
					More</button>
			</div>
		</div>
	</div>
</body>
</html>