<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
	<body th:fragment="pageFragment">		
		<section id="form" style="margin:20px 0px 50px 0px;"><!--form-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="login-form" ng-controller="LoginUserController"><!--login form-->
							<h2>Login to your account</h2>
							<div class="alert alert-{{status}}">
								{{ msg }}
							</div>							
							<form role="form" ng-submit="submit(form)">
								<input ng-init="form.username=''" ng-model="form.username" type="email" placeholder="Email Address" />
								<input ng-init="form.password=''" ng-model="form.password" type="password" placeholder="Password" />								
								<button type="submit" class="btn btn-default">Login</button>
							</form>
						</div><!--/login form-->
					</div>
					<div class="col-sm-1">
						<h2 class="or">OR</h2>
					</div>
					<div class="col-sm-4" ng-controller="RegisterController"> 
						<div class="signup-form"><!--sign up form-->
							<h2>New User Signup!</h2>
							<div class="alert alert-success" ng-if="isSuccessRegister">
								Register Berhasil, Silahkan login
							</div>
							<form name="register" ng-submit="submit(form)" role="form">
								<label class="label label-danger" ng-if="!isValidEmail" >Email telah digunakan</label>																								
								<label class="label label-danger">{{ form.error.email }}</label>																																
								<input type="email" ng-model="form.email" placeholder="Email Address"/>
								<div class="help-block" ng-if="isLoad">
									<img src="/assets/images/reload.gif" style="height:15px;" class="img img-responsive" />
								</div>
								<label class="label label-danger">{{ form.error.name }}</label>																																								
								<input type="text" ng-model="form.name" placeholder="Masukkan nama anda"/>									
								
								<label class="label label-danger">{{ form.error.password }}</label>																																								
								<input type="password" ng-model="form.password" placeholder="Password"/>									
								<label class="label label-danger" ng-if="!isValidPassword" >Ulangi password dengan benar</label>																	
								<input type="password" ng-model="form.repassword" placeholder="Ketik ulang Password"/>																	
								<button type="submit" ng-disabled="!isValid" class="btn btn-default" style="float:left;">Signup</button>
								<img src="/assets/images/reload.gif" ng-if="isLoadingSubmit" style="height:20px;" class="img img-responsive" />
							</form>
						</div><!--/sign up form-->
					</div>
				</div>
			</div>
		</section><!--/form-->		
	</body>
</html>